.home-line-divider {
  background-color: rgba(90, 132, 84, 0.8);
  height: 40px;
  margin: 15px;
}

// Project display
.project-img {
  display: flex;
  text-align: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-image: url('stone.jpg');
  background-size: cover;

  &:hover {
    opacity: 0.5;
  }
}

.github-link {

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.project-title {
  &:hover {
    background-color: rgba(90, 132, 84, 0.8);
    width: 100%;
  }
}

.project-link {
  color: black;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
