<nav class="navbar fixed-top">
  <div>
    <a href="https://github.com/BeatrizSCLongley"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/beatriz-s-c-longley-9687a946/"><i class="fab fa-linkedin"></i></a>
  </div>
</nav>
