<nav class="navbar fixed-top" data-aos="fade-down">
  <div>
    <a href="https://github.com/BeatrizSCLongley" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/beatriz-s-c-longley-9687a946/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://beatrizsclongley.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
  </div>
</nav>
