#home-banner-link {
  background-color: rgba(90, 132, 84, 0.8);
  width: 618px;
  padding: 4px 20px;
  position: absolute;
  top: 188px;
  z-index: 2;
}

#home-banner-btn {
  text-decoration: none;
  color: black;
  font-size: 23px;
  // font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

// -----------------------------------------------------------------------------
